*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 37px auto 37px;
  background-color: rgb(94, 0, 0);
}

button{
  padding: 2px 4px;
  background-color: black;
  color: white;
  border: 1px darkred solid;
  border-radius: 5px;
}

button:focus{
  outline: none;
}

.selected{
  background-color: white;
  color: red;
}

header, footer{
  grid-column-start: 1;
  grid-column-end: span 2;
  text-align: center;
  align-self: center;
  color: white;
}

.leftSide, .rightSide{
  height: 100%;
}

.leftSide{
  background-color: #777;
}

.rightSide{
  background-color: #555;
}

/* ---------------------------------------------------- */

.picRegHolder{
  display: grid;
  grid-template-columns: 300px 300px;
}

.roverPicture{
  width: 300px;
  height: auto;
}

.picFlipHolder{
  position: relative;
}

.flipPic{
  position: absolute;
  height: 400px;
  width: 400px;
  z-index: 5;
}

.flipBlocker{
  height: 400px;
  width: 400px;
  background-color: black;
  position: absolute;
  z-index: 10;
}

.flipControl{
  transform: translateY(500px)
}